@model IEnumerable<Check>

    @{
    ViewData["Title"] = "Privacy Policy";
    }
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Efectuar de checkin</h1>
                </div>
                
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Visualise todos as reservas</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Data Entrada</th>
                                    <th>Data Saida</th>
                                    <th>Valor</th>
                                    <th>Hospede</th>
                                    <th>Tipo Quarto</th>
                                    <th>Data Registro</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (Check item in Model)
                                {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Reserva.DataEntrada</td>
                                    <td>@item.Reserva.DataSaida</td>
                                    <td>@item.Valor</td>
                                    <td>@item.Reserva.Hospede.Nome</td>
                                    <td>@item.Reserva.Quarto.Tipo</td>
                                    <td>@item.Data</td>
                                    <td>
                                        <a asp-action="Checkout" asp-controller="Reserva" asp-route-id="@item.Id" class="btn btn-success text-white">
                                            <i class="fas fa-arrow-right"></i>Checkout
                                        </a>
                                   
                                        <a asp-action="DeleteCheck" asp-controller="Check" asp-route-id="@item.Id" class="btn btn-danger text-white">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>

                                </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
